body {
	font-size: 20px;
	font-family: 'PT Sans';
	color:#FFFFFF;
    background: #F2F2F2;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	/*display: flex;*/
	width: 30%;
	flex: 0 0 auto;
	width: 350px;
	display: inline-block;
}


.nav-menu {
	
	display: flex;
	flex-flow: column;
	list-style: none;

	color: #fff;
}

.navigation .nav-menu {
	margin-left: 60px;
}

.nav-menu .menu-item {
	z-index: 2;
	height: 30px;
	margin: 10px 0;
}

.nav-menu .menu-item:first-child {
	margin-top: 70px;
}

.nav-menu .menu-icon {
	z-index: 2;
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin-right: 20px;
}

.menu-link {
	font-weight: bold;
}

.menu-link,
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
	color: inherit;
	text-decoration: none;
}

.posts{
	position:absolute;
	left:380px;
	width: 50%;
	flex: 0 0 auto;
	width: 580px;
	display: inline-block;
}

/*.main-container {
	display: flex;
	align-items: flex-start;
} 
.main-container header {
	width: 20%;
	flex: 0 0 auto;
}
.main-container main {
	
	flex: 0 0 60%;
    width: 60%;
}
.main-container aside {
	width: 40%;
	flex: 0 0 auto;
}

.container{
	width: 1200px;
	margin: 0 auto;
}
*/


/*.main-container {
	display: flex;
	align-items: flex-start;
} */

/*.main-container header {

	display: flex;
	width: 30%;
	flex: 0 0 auto;
}
.main-container main {
	display: flex;
	align-items: flex-start;
	
	flex: 0 0 60%;
    width: 60%;
}*/

/*.container{
	width: 1400px;
	margin: 0 auto;
}*/

#highlight{
	background: #A760C8;
	position: absolute;
    width: 181.62px;
    height: 33.51px;
    top:192px;
    float: left;
    z-index: 1;
    border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.container{

	width: 300px;
}

section {
	height: 200px;
	/*border: 6px solid green;*/
}

.logo{
	margin-top: 30px;
	margin-left: 20px;
}


.lupa{
	height: 20px;
	width: 20px;
	margin-top:12px;
	margin-left:19px;
}

.search_area{
	display: flex;
	margin-top: 26px;
	height: 44px; 
    width: 578px;
    background: #FFFFFF;
    border-radius: 19px;
	
}

.text_for_search{
	color:#606060;
    font-size: 13px;
	margin-left:18px;
	margin-top:13px;
	width:360px;
    font-style: normal;
    font-weight: normal;
    border:0;
	height: 20px;
}

.other_menus{
	position:absolute;
	left:980px;
	width: 20%;
	flex: 0 0 auto;
	width: 500px;
	display: inline-block;
}


.profile_logo{
	margin-left:8px;
	margin-top: 28px;
}


.exit_logo{
    margin-left:10px;
	margin-top: 38px;
}



.exit_button{
	margin-left:115px;
	margin-top: 38px;
	color:#606060;
}

.profile_wrapper, .exit_wrapper, .home_wrapper, .wrapper, .happend_area{
	display: flex;
}

a{
	text-decoration: none;
}

#Polina_Lelis{
	color:#606060;
    font-size: 15px;
    position: absolute;
    top:36px;
	left:1008px;
}

.Polina_button{
	margin-left:120px;
	margin-top: 38px;
	width: 82px;
	color:#606060;
}


.help_button{
	color:#606060;
	margin-left:40px;
	font-size: 15px;
	margin-top:38px;
}

.profile_header{
	display:flex;
	color:#606060;
	font-size: 15px;
}


.title{
	z-index: 2;
	margin-top:30px;
	width: 578px;
	height: 40px;
	display: inline-block;
	background: #B58CE9;
	opacity: 60%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}



.profile-logo-box{
	margin-left:25px;
	margin-top:19px;
}



.btn-send{
	background: #EE5A3C;
	color:#ffffff;
	font-size: 14px;
    font-style: normal;
    font-weight: normal;
    border-radius: 6px;
    padding: 6px 0;
	height: 32px;
	width: 117.71px;
	text-align: center;
	text-decoration: none;
	margin-left:19px;
	margin-top:34px;
}


.pointer1{
	margin-top:20px;
}

.trend_item, .filter_item, .line_and_button{
	display: flex;
}


.bttn-image{
	background: #ffffff;
}

.load_bttns{
	display: flex;
	margin-top:39px;
	background: #ffffff;
}


.add_image{
	 height:20px;
	 margin-left:285px;
	}


.add_file{
	 height:20px;
	 margin-left:27px;
}

.add_smile{
	 height:20px;
	 margin-left:27px;
}


.vertical_line{
	background: #DADADA;
	width: 1.5px;
	height: 40px;
	margin-top: 30px;
	margin-left:15px;
}


.whatHappend{
	color: #838383;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    display: inline-block;
    border:0;
	margin-left: 20px;
    margin-top: 20px;
}

.home_title{
	display:inline-block;
}



.Home{
	z-index: 1;
	color:#000;
	font-size: 17px;
	font-weight: bold;
	margin-left: 45px;
    margin-top: 8px;
}

.box-for-new-item{
	width: 578px;
	height: 141px;
	background: #FFFFFF;
	display: inline-block;
	
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.title-trends{
	margin-left:30px;
	margin-top:32px;
	width: 307px;
	height: 305px;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.trends_wrapper, .filter_wrapper{
	display: inline-block;
}

#filter-articles{
	width: 290px;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color:#252525;
	opacity: 78%;
	margin-left: 30px;
	margin-top: 9px;
}

.Trends{
	width: 290px;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color:#252525;
	opacity: 78%;
	margin-left: 30px;
	margin-top: 9px;
}

.line1{
	background: #EDEBEB;
	width: 306px;
	height: 1.5px;
	margin-top: 21px;
}

.line01{
	background: #EDEBEB;
	width: 306px;
	height: 1.5px;
	margin-top: 21px;
}

.text_filter{
	display: inline-block;
	width: 100px;
    font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color:#252525;
	opacity: 78%;
}


.text_trend{
	display: inline-block;
	width: 265px;
    font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color:#252525;
	opacity: 78%;
	
}

.name_filter{
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color:#252525;
	opacity: 78%;
	margin-top:15px;
	margin-left: 30px;
}

.name_trend{
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color:#252525;
	opacity: 78%;
	margin-top:15px;
	margin-left: 30px;
}


.amount-of-articles{
    font-style: normal;
	font-weight: normal;
	width: 90px;
	font-size: 10px;
	color:#252525;
	opacity: 78%;
	position: absolute;
	left:24px;
}

.article1{
	margin-top: 2px;
	margin-left:30px;
}


.see_more{
    font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color:#BCBCBC;
	opacity: 78%;
	margin-left:110px;
	margin-top:10px;
}

.under_the_title_trends_line{
	background: #C4C4C4;
	width: 307px;
	height: 1px;
	margin-top: 8px;
}



.logo{
	margin-left: 55px;
}



.rectangle {
	width: 275px;
	height: 750px;
	background: #300045;
	margin-left: 30px;
	display: inline-block;
	border-top-right-radius: 70px;
	border-bottom-right-radius: 70px;
	box-shadow: 10px 4px 50px rgba(0, 0, 0, 0.5);
}

.see_more_posts{
    font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color:#BCBCBC;
	opacity: 78%;
	margin-left:253px;
	bottom:16px;
}

.posts_area{
	background: #FFFFFF;
    width: 575.04px;
    height: 4750px;
    margin-top: 25px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.trend1, .filter1{
	margin: 0;
	padding: 0;
	position: relative;
}

.post1{
	margin: 0;
	padding: 0;
	position: relative;
	height:472px;
	width: 580px;
}

.post_tape{
	margin-left: 26px;
	margin-right: 39px;
}

.text_wrapper{
	display: block;
}


.post_wrapper{
	display: flex;
}

.icon_profile{
	margin-top: 30px;
	height: 42px;
	width: 44px;
}

.user_name{
	margin-left: 7px;
	margin-top:30px; 
	color: #252525;
 	font-size: 15px;
}

.text_post{
	font-style: normal;
	margin-left:7px;
	margin-top:7px;
	color:#252525;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
	width: 480px;
}

.like_button ,.buttons_post, .comment_button, .repost_button{
	display: flex;
}


.item-photo{
	margin-left:50px;
	margin-top:7px;
}

.like{
	margin-left:137px;
	margin-top:7px;
}

.comment{
	margin-left:57px;
	margin-top:7px;
}

.post_information{
	display: flex;
}

.repost{
	margin-left:57px;
	margin-top:7px;
}

.like_amount{
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color:#5C5C5C;
	margin-left:6px;
	padding: 0;
	margin-top:5px;
}

.comment_amount{
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color:#5C5C5C;
	margin-left:6px;
	padding: 0;
	margin-top:5px;
}

.repost_amount{
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color:#5C5C5C;
	margin-left:6px;
	padding: 0;
	margin-top:5px;
}


.time{
	margin-left:50px;
	margin-top:7px;
	color:#B0B0B0;
	font-weight: bold;
    font-size: 12px;
}


.filter_area{
    width: 306px;
    height: 268px;
    margin-left: 30px;
    margin-top: 130px;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}



.filter-by{
    font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color:#252525;
	opacity: 78%;
	margin-left: 24px;
}


.enter-data{
    font-size: 17px;
    width: 150px;
    height:25px;
    opacity: 50%;
    border:0;
	margin-left: 33px;
    margin-top: 17px;
    border: 0.5px solid #787878;
    box-sizing: border-box;
    border-radius: 6px;
}



.btn_filter{
	background: #A760C8;
	color:#ffffff;
	
	font-size: 14px;
    font-style: normal;
    font-weight: normal;
    border-radius: 6px;
    display: block;
    padding: 6px 0;
	height: 32px;
	width: 117.71px;
	text-align: center;
	margin-left:166px;
	margin-top:8px;
}

.rectangle-footer{
	width: 340px;
	height: 35px;
	margin-left: 70px;
	margin-top: 90px;
	font-size: 15px;
	line-height: 19px;
	color: #8E8787
	}


/*992-1200*/
@media screen and (max-width: 1200px) {
	.container{
		width: 960px;
	}
	.main-container{
		width: 960px;
	}

	/*header{
		width:150px;
	}*/
}

/*768-992*/
@media screen and (max-width: 992px) {
	
}

/*576-768*/
@media screen and (max-width: 768px) {
	
}

/*0-576*/
@media screen and (max-width: 576px) {
	
}